apiVersion: v1
kind: Secret
metadata:
  name: idt-auth
  namespace: idt-demo
type: Opaque
stringData:
  DATABASE_URL: "postgresql://postgres:REPLACE_WITH_URL_ENCODED_PASSWORD@idtmicro.c7me6e2egbky.ap-northeast-1.rds.amazonaws.com:5432/postgres?sslmode=verify-full&sslrootcert=/certs/rds-ca.pem"
  JWT_SECRET: "REPLACE_WITH_A_LONG_RANDOM_SECRET"